/* RecentCard2.css */

.content {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    /* Add other styles as needed */
}

img {
    width: 100%
}

.blogcontainer {
    display: flex;
}

.box {
    width: 30%
}


/* Add additional styling for specific screen sizes using media queries */

@media screen and (max-width:1020px) {
    .box {
        width: 100%;
        /* Example: Two columns on screens wider than 600px */
    }
    .blogcontainer {
        flex-wrap: wrap;
    }
}


/* Add more media queries as needed for different breakpoints */