.testimonialspart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 38%;
}

@media screen and (max-width:1020px) {
    .testimonialspart {
        padding-left: 1%;
    }
}